@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300&display=swap');
*{
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}
body {
   font-family: 'Open Sans', sans-serif;
}
nav {
   height: 80px;
   width: 100%;
   background: #1E88E5;
}
label.logo {
   color: white;
   font-size: 30px;
   line-height: 80px;
   padding: 0 100px;
   font-weight: bold;
   font-family: 'Cookie', cursive;
}
nav ul {
   float: right;
   margin-right: 20px;
}
nav ul li {
   display: inline-block;
   line-height: 80px;
   margin: 0 10px;
}
nav ul li a{
   color: white;
   font-size: 17px;
   padding: 7px 13px;
   text-transform: uppercase;
}
a.active,a:hover{
   background: #42A5F5;
   transition: .5s;
}
.checkbtn {
   font-size: 30px;
   color: white;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}
#check {
   display: none;
}

/* navigation */


/* banner */

.baner {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80vh;
   background-image: url(../images/banner.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
.btn {
   background: #2196F3;
   color: #fff;
   border: none;
   padding: 10px 2rem;
   font-size: 1.5rem;
   box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.49);
}

.banner-right {
   float: right;
   width: 40%;
   text-align: center;
   margin-right: 2rem;
   color: white;
}
.btn:hover {
   cursor: pointer;
   transform: scale(1.05);
}
.mgt {
   margin-top: 2rem;
}
.banner-right .photo img{
   width: 500px;
   margin-right: 1rem;
}
.body {
   display: flex;
   justify-content: center;
}
.card-container {
   display: flex;
   gap: 2rem;
   text-align: center;
}
.body .card h2 {
   background: #2196F3;
   color: white;
   box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.49);
   padding: 0.5rem;
}
.body .card {
   background: white;
   width: 300px;
   padding: 1.5rem;
   border-radius: 7px;
   box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.49);
}

/* footer */
footer {
   background: #90CAF9;
   padding: 2rem;
}
.foot-container {
   width: 83%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
}
.copy {
   display: flex;
   align-items: center;
   margin-top: 1.5rem;
   width: 40%;
}
.copy p{
   margin-left: 5px;
}
.copy i {
   font-size: 1.5rem;
}

.social {
   display: flex;
}
.social a{
   color: white;
   font-size: 30px;
}
.social .icons {
   margin-left: 2rem;
   
   background: #2196F3;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1rem;
}

/* about page */
.contents {
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50vh;
   padding: 2rem;
}
.content-left {
   width: 40%;
   text-align: center;
   margin-bottom: 4rem;
   float: right;
   margin-right: 3rem;
}
.sub-content {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   justify-content: center;
   align-items: center;
}
.box-container {
   padding: 1rem;
   display: flex;
   margin-top: -5px;
}
.box {
   text-align: center;
   color: white;
   padding: 2rem;
}
.box .head span{
   background: white;
   padding: 1rem 1.6rem;
   border-radius: 50%;
   color: #2196F3;
   font-size: 1.5rem;
}
.box .head {
   margin-bottom: 2rem;
}
.bg1 {
   background: #1E88E5;
}
.bg2 {
   background: #42A5F5;
}
.bg3 {
   background: #2196F3;
}
.color {
   background: white;
   color: #2196F3;
}

.last-content {
   display: flex;
   gap: 2rem;
   justify-content: space-between;
}
.last-content .education {
   background: white;
   text-align: center;
   width: 43%;
   padding: 1.5rem;
   box-shadow: 0px 8px 7px 4px rgba(0,0,0,0.3);
}
.last-content .education .text {
   width: 60%;
   text-align: left;
   margin-left: 5rem;
}
.education h2 {
   background: #2196F3;
   color: white;
   box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.49);
   padding: 0.5rem;
}

/* hobbies page */

.hob-card {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 2rem;
}
.hob-card .cards {
   background: white;
   padding: 2rem;
   text-align: center;
}
.hob-card .cards img {
   width: 300px;
   height: 250px;
}
.cards .card {
   height: 50vh;
}

/* contact page */
.con-container {
   background: #2196F3;
   padding: 2rem;
}
.con-container .con-box {
   background: white;
   padding: 3rem;
}
.con-container .marks {
   display: flex;
   gap: 1rem;
}
.con-container .marks .mark1 {
   width: 30%;
}
.mark2 .contact {
   display: flex;
   gap: 2rem;
   width: 150px;
}
.mark2 {
   width: 30%;
   margin-left: 4rem;
}
.contact i {
   font-size: 2rem;
   margin-top: 1rem;
}
.mark3 {
   width: 40%;
   text-align: center;
}
.mark3 i {
   font-size: 3rem;
}

.con-body {
   display: flex;
}
.input-group {
   width: 60%;
   text-align: center;
}
.form-control {
   width: 283px;
   padding: 1rem;
}
.con-body .map p{
   margin-left: 2rem;
   margin-top: -1px;
}
.input-group textarea {
   resize: none;
}

@media (max-width: 1023px){
   label.logo{
      font-size: 30px;
      padding: 50px;
   }
   nav ul li a {
      font-size: 16px;
   }
   .baner {
      background-image: url(../images/banner.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 80vh;
   }
   .btn {
      background: #2196F3;
      color: #fff;
      border: none;
      padding: 5px 0.5rem;
      font-size: 1rem;
      box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.49);
   }
   
   .banner-right {
      float: right;
      width: 40%;
      text-align: center;
      margin-right: 2rem;
      color: white;
   }
   .banner-right h1 {
      font-size: 1.2rem;
   }
   .banner-right p {
      font-size: 0.8rem;
   }
   .body {
      display: flex;
   }
   .card-container {
      display: flex;
      gap: 2rem;
      text-align: center;
   }
   .body .card h2 {
      background: #2196F3;
      color: white;
      box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.49);
      padding: 5px 5px;
      font-size: 1rem;
      margin-bottom: 1rem;
   }
   .body .card p {
      font-size: 13px;
   }
   .body .card {
      background: white;
      width: 250px;
      padding: 2rem;
      border-radius: 7px;
      box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.49);
   }
   .social .icons {
      margin-left: 2rem;
      font-size: 25px;
      background: #2196F3;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
   }
   footer label.logo{
      font-size: 1.5rem;
   }
   footer .btn {
      margin-top: 0;
   }
   .copy {
      width: 30%;
   }
   .copy p{
      font-size: 0.6rem;
   }
   .copy i {
      font-size: 1rem;
   }
   .social a{
      color: white;
      font-size: 20px;
   }
}
@media (max-width: 768px){
   .checkbtn {
      display: block;
   }
   nav {
      position: sticky;
   }
   nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #12467a;
      top: 80px;
      left: -100%;
      transition: all .5s;
      text-align: center;
      z-index: 30;
   }
   nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
   }
   a:hover,a.active {
      background: none;
      color: #1E88E5;
   }
   nav ul li a{
      font-size: 20px;
   }
   #check:checked ~ ul {
      left: 0;
   }
   .baner {
      background-image: url(../images/banner.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 80vh;
   }
   .banner-right {
      width: 30%;
   }
   .banner-right h1 {
      font-size: 1rem;
   }
   .banner-right p {
      font-size: 0.8rem;
   }
   .body {
      display: grid;
   }
   .card-container {
      display: grid;
      gap: 2rem;
      text-align: center;
   }
   .body .card h2 {
      background: #2196F3;
      color: white;
      box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.49);
      padding: 5px 5px;
      font-size: 1rem;
      margin-bottom: 1rem;
   }
   .body .card p {
      font-size: 13px;
   }
   .body .card {
      background: white;
      width: 250px;
      padding: 2rem;
      border-radius: 7px;
      box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.49);
   }
   .social .icons {
      margin-left: 2rem;
      font-size: 25px;
      background: #2196F3;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
   }
   footer label.logo{
      font-size: 1rem;
   }
   footer .btn {
      margin-top: 0;
   }
   .copy {
      width: 30%;
   }
   .copy p{
      font-size: 0.5rem;
   }
   .copy i {
      font-size: 0.8rem;
   }
   .social a{
      color: white;
      font-size: 16px;
   }
   .social .icons {
      height: 30px;
      width: 30px;
      margin-left: 0.8rem;
   }
   .center {
      width: 40%;
   }
}
@media (max-width: 580px){
   .baner {
      background-image: url(../images/banner.jpg);
      background-repeat: no-repeat;
      background-size: contain;
   }
   .btn {
      background: #2196F3;
      color: #fff;
      border: none;
      padding: 3px 0.5rem;
      font-size: 0.5rem;
      box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.49);
   }
   .banner-right h1 {
      font-size: 0.6rem;
   }
   .banner-right p {
      font-size: 8px;
   }
   .body {
      display: grid;
   }
   .card-container {
      display: grid;
      gap: 2rem;
      text-align: center;
   }
   .body .card h2 {
      background: #2196F3;
      color: white;
      box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.49);
      padding: 5px 5px;
      font-size: 1rem;
      margin-bottom: 1rem;
   }
   .body .card p {
      font-size: 13px;
   }
   .body .card {
      background: white;
      width: 250px;
      padding: 2rem;
      border-radius: 7px;
      box-shadow: -1px 7px 5px -1px rgba(0,0,0,0.49);
   }
   .foot-container {
      display: grid;
      justify-content: center;
      align-items: center;
   }
   .center {
      width: 100%;
      display: grid;
   }
   .copy , .logo{
      width: 100%;
      margin-bottom: -60px;
   }
   .btn {
      margin-bottom: 10px;
   }
   footer {
      padding: 10px;
   }
   .hob-card {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 2rem;
      font-size: 0.8rem;
      justify-content: center;
      align-items: center;
      
   }
   .hob-card .cards{
      box-shadow: 0px 5px 18px 2px rgba(0,0,0,0.75);
      width: 90%;
      text-align: center;
      margin: auto;
   }
   .hob-card .cards img{
      width: 250px;
      height: 200px;
   }
   .hob-card .cards .btn {
      padding: 5px 1rem;
      font-size: 1.3rem;
   }
}