body{
   padding: 0;
   margin: 0;
   font-family: sans-serif;
}
.nav-container ul{
   list-style: none;
   display: flex;
}
.nav-container a{
   text-decoration: none;
}
.nav-container ul li{
   margin: 1rem;
}

@media (max-width: 460px){
   .nav-container ul {
      display: block;
   }
   .nav-container ul li{
      margin: 1rem;
   }
}